* {
    margin: 0;
    padding: 0;
}

:root {
    --brandRed: #A62138;
    --offWhite: white;
}

html {
    scroll-behavior: smooth;
}

.tlkRed {
    color: var(--brandRed);
}

#resize-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(22%);
}

.card,
.card-img {
    border: 0;
    border-radius: 0px;
}

#headerDiv {
    height: 600px;
}

#headerText {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#headerText>h1 {
    opacity: 0;
    margin-bottom: 1vw;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#headerText>h3 {
    opacity: 0;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.nav {
    position: fixed;
    z-index: 2;
    background-color: none;
    width: 100%;
    margin-top: 5px;
}

.nav.scrolled {
    background-color: black !important;
    transition: background-color 0.4s ease;
    transition-delay: 0.2s;
    margin-top: 0px;
    width: 100%;
}

.nav-item {
    padding: 0px 40px;
}

.nav-end {
    border-left: 2px solid white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: lightgray;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#footer {
    width: 100%;
    text-align: center;
    height: 50px;
    padding: 10px;
    background-color: black;
    color: white;
}

.containerDiv {
    padding: 100px;
    height: 800px;
}

.leftSplit {
    float: left;
    width: 50%;
}

.rightSplit {
    float: right;
    width: 40%;
}

.indentList {
    margin-left: 15px;
}

.imageCircle {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 100%;
}