:root {
    --brandRed: #A62138;
    --offWhite: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
    background-color: var(--offWhite);
    margin-top: -0.2vw;
}

.content>span {
    font-size: 1.5vw;
}

.brandRedText {
    color: var(--brandRed);
}

h1 {
    font-size: 3.5vw;
}

h3 {
    font-size: 2vw;
}

#nav {
    position: absolute;
    margin: auto;
    margin-top: 1vw;
    z-index: 2;
    cursor: pointer;
    color: var(--offWhite);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    left: 0;
    right: 0;
    width: 60%;
}

.leftBorder {
    border-left: 0.1vw solid var(--offWhite);
}

#nav>* {
    padding: 0.5vw;
    width: 25%;
}

#nav>*:hover {
    color: lightgray;
}

#header {
    width: 100%;
    height: 90vh;
}

#headerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(20%);
}

#headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: fit-content;
    color: var(--offWhite);
}


#headerText1 {
    opacity: 0;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#headerText2 {
    opacity: 0;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.content {
    padding: 6vw 8vw;
    padding-bottom: 40vw;
    text-align: center;
}

.leftHalf {
    width: 50%;
    left: 0;
    border: 2px solid red;
    position: absolute;
    margin-top: 5vw;
}

#footer {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-top: 0.5vw;
    margin-bottom: 1vw;
    border-top: 0.1vw solid black;
}